<!DOCTYPE html>
<html>
  <head>
    <title>index.ejs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      トップページ
      <p>
        <%= title %>
      </p>
      <p>
        <img src="./images/centos7.png" alt="centos7" />
      </p>
    </div>
    <div>
       <p><a href='/react1'>Webページの一部にReactコンポーネントを表示する</a></p>
       <p><a href='/react1/esm'>umd形式でビルドした場合の読み込み方法</a></p>
       <p><a href='/react2'>コンポーネントに初期値を与える(サーバ側でランダムな値を生成してセットする)</a></p>
       <p><a href='/react3'>Reactコンポーネントを複数配置する</a></p>
       <p><a href='/react4'>Reactコンポーネントから、外部へ通知</a></p>
       <p><a href='/react5'>Component外部のイベントを、React側に通知する</a></p>
    </div>
  </body>
</html>
