<!DOCTYPE html>
<html>
  <head>
    <title>show react 1</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>process = {env: {NODE_ENV: ''}}</script>
    <script src="/dist/lib.umd.js"></script>
  </head>
  <body>
    <h2>Webページの一部にReactコンポーネントを表示する</h2>
    <p>
      umd形式でビルドした場合の読み込み方法
    </p>
    <div id="root"></div>
    <div>
       <p><a href='/'>トップページへ戻る</a></p>
    </div>
  </body>
  <script>
    const {ReactDOMClient, React, Counter} = MyBundle;
    const container = document.getElementById('root');
    const root = ReactDOMClient.createRoot(container);
    root.render(React.createElement(Counter));
  </script>
</html>
